<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.shashank.memebase.MemeApplication"
        android:allowBackup="true"
        android:icon="@drawable/appimage"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appimage"
        android:supportsRtl="true"
        android:theme="@style/Theme.Memes" >
        <activity
            android:name="com.shashank.memebase.meme.ui.CompressedVideoActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name="com.shashank.memebase.meme.ui.VideoSelectedActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name="com.shashank.memebase.meme.ui.SelectVideoActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name="com.shashank.memebase.entry.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>