name: Android Build

on:
  pull_request:
    branches:
      - develop
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

#      - uses: kolpav/purge-artifacts-action@v1
#        with:
#          token: ${{secrets.TOKEN}}
#          expire-in: 0days

      - name: decode keystore
        id: decode_keystore
        uses: timheuer/base64-to-file@v1.2
        with:
          fileName: 'keystore.jks'
          fileDir: '/home/runner/work/MEMEBase/MEMEBase/app/keystore/'
          encodedString: ${{ secrets.SIGNING_KEY_STORE_BASE64 }}

      - name: Set Up JDK
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'zulu'


      - name: cache gradle & wrapper
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.OS }}-gradle-

      - name: build apk
        env:
          SIGNING_KEY_ALIAS: ${{ secrets.SIGNING_KEY_ALIAS }}
          SIGNING_KEY_PASSWORD: ${{ secrets.SIGNING_KEY_PASSWORD }}
          SIGNING_STORE_PASSWORD: ${{ secrets.SIGNING_STORE_PASSWORD }}
        run: ./gradlew assembleRelease

      - name: upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: app_release
          path: app/build/outputs/apk/release/